{% extends 'account.html' %}

{% block  div_content %}
    <form class="shipping-addresses" method="post" action="{% url 'account-details' user.pk %}">
        <h3 class="shipping-addresses-header">My account</h3>
        <div class="user-names">
            <label for="">
                FIRST NAME
                {{ form.first_name }}
            </label>
            <label for="">
                LAST NAME
                {{ form.last_name }}
            </label>
        </div>
        <label for="">
            Username
            {{ form.username }}
        </label>
        <label for="">
            Email
            {{ form.email }}
        </label>
        {% csrf_token %}
        <div class="save-delete-buttons">
            <button class="address-button">
                Save changes
            </button>
        </div>
    </form>
    <form method="post" action="{% url 'account-delete' user.pk %}">
        {% csrf_token %}
        <button type="submit" class="delete-button">
            Delete account
        </button>
    </form>
    <a href="{% url 'change-password' user.pk %}" class="change-password-button">
        Change password
    </a>
{% endblock %}