{% extends 'account.html' %}

{% block  div_content %}
    <form class="shipping-addresses" method="post" action="{% url 'change-password' user.pk %}">
        <h3 class="shipping-addresses-header">Change password</h3>
        <div class="user-names">
            <label for="">
                OLD PASSWORD
                {{ form.old_password }}
            </label>
            <label for="">
                NEW PASSWORD
                {{ form.new_password1 }}
            </label>
            <label for="">
                CONFIRM NEW PASSWORD
                {{ form.new_password2 }}
            </label>
        </div>
        {% csrf_token %}
        <div class="save-delete-buttons">
            <button class="address-button" type="submit">
                Save changes
            </button>
        </div>
    </form>
{% endblock %}