{% extends 'account.html' %}

{% block  div_content %}
    <div class="user-orders">
        <h3 class="shipping-addresses-header">My orders</h3>
        {% if current_user.order_set.count >= 1 %}
            <p class="account-count-of-orders">Your profile have {{ current_user.order_set.count }} orders.</p>
        {% else %}
            <div class="no-orders">
                <i class="fa-solid fa-info"></i>
                <p>No orders at the moment</p>
                <a href="{% url 'shop' %}">View products</a>
            </div>
        {% endif %}
    </div>
{% endblock %}