{% extends 'account.html' %}

{% block  div_content %}
    <form class="shipping-addresses" method="post" action="{% url 'addresses' user.pk %}">
        <h3 class="shipping-addresses-header">My address</h3>
        <div class="user-names">
            <div>
                {{ form.errors.first_name }}
                <label for="">
                    FIRST NAME
                    {{ form.first_name }}
                </label>
            </div>
            <div>
                {{ form.errors.last_name }}
                <label for="">
                LAST NAME
                {{ form.last_name }}
            </label>
            </div>
        </div>
        <label for="">
            {{ form.errors.address }}
            ADDRESS
            {{ form.address }}
        </label>
        <div class="user-names">
           <div>
               {{ form.errors.town }}
                <label for="">
                TOWN
                {{ form.town }}
            </label>
           </div>
            <label for="">
                POST CODE
                {{ form.postcode }}
            </label>
        </div>
        <div class="user-names">
            <label for="">
                PHONE
                {{ form.phone }}
            </label>
            <div>
                {{ form.errors.email }}
                <label for="">
                EMAIL
                {{ form.email }}
            </label>
            </div>
        </div>
        {% csrf_token %}
        {% if address %}
            <button class="address-button">
                Save changes
            </button>
        {% else %}
            <button class="address-button">
                Save address
            </button>
        {% endif %}
    </form>
    <form method="post" action="{% url 'delete_address' user.pk %}">
        {% csrf_token %}
        {% if address %}
            <button type="submit" class="delete-button-address">
                Delete address
            </button>
        {% endif %}
    </form>
{% endblock %}