{% extends 'account.html' %}

{% block  div_content %}

    <div class="shipping-addresses">
        <h3 class="shipping-addresses-header">My address</h3>
        <div class="user-names">
            <label for="">
                FIRST NAME
                <input type="text" name="" id="" class="first-name">
            </label>
            <label for="">
                LAST NAME
                <input type="text" name="" id="" class="first-name">
            </label>
        </div>
        <label for="">
            COUNTRY / REGION
            <input type="text" name="" id="" class="county-region">
        </label>
        <label for="">
            ADDRESS
            <input type="text" name="" id="" class="address-input">
        </label>
        <div class="user-names">
            <label for="">
                TOWN
                <input type="text" name="" id="" class="first-name">
            </label>
            <label for="">
                POST CODE
                <input type="text" name="" id="" class="first-name">
            </label>
        </div>
        <div class="address-button">
            <a href="#" class="address-button">
                Save address
            </a>
        </div>
    </div>
{% endblock %}