{% extends 'account.html' %}

{% block  div_content %}
    <form class="shipping-addresses" method="post" action="{% url 'addresses' user.pk %}">
        <h3 class="shipping-addresses-header">My address</h3>
        <div class="user-names">
            <label for="">
                FIRST NAME
                {{ form.first_name }}
            </label>
            <label for="">
                LAST NAME
                {{ form.last_name }}
            </label>
        </div>
        <label for="">
            ADDRESS
            {{ form.address }}
        </label>
        <div class="user-names">
            <label for="">
                TOWN
                {{ form.town }}
            </label>
            <label for="">
                POST CODE
                {{ form.postcode }}
            </label>
        </div>
        {% csrf_token %}
        {% if address %}
            <button class="address-button">
                Save changes
            </button>
        {% else %}
            <button class="address-button">
                Save address
            </button>
        {% endif %}
    </form>
    <form method="post" action="{% url 'delete_address' user.pk %}">
        {% csrf_token %}
        {% if address %}
            <button type="submit" class="delete-button">
                Delete address
            </button>
        {% endif %}
    </form>
{% endblock %}