{% extends 'base.html' %}
{% block main_content %}
    <main>
        <h2 class="main-header-sign-in">WATCHECK</h2>
        <div class="sign-up-container">
            <div class="container-header">
                <a href="{% url "sign_up" %}">JOIN</a>
                <div class="vertical-line"></div>
                <a href="{% url 'sign_in' %}">SIGN IN</a>
            </div>
            <div class="horizontal-line"></div>
            <form class="container-main" method="post" action="{% url 'sign_up' %}">
                <h3>SIGN UP</h3>
                <p class="email-sign-in">EMAIL ADDRESS:</p>
                {{ form.email.errors }}
                {{ form.email }}
                <p class="first-name-sign-in">USERNAME:</p>
                {{ form.username.errors }}
                {{ form.username }}
                <p class="password-sign-in">PASSWORD:</p>
                {{ form.password1.errors }}
                {{ form.password1 }}
                <p class="password-sign-in">CONFIRM PASSWORD:</p>
                {{ form.password2.errors }}
                {{ form.password2 }}

                {% csrf_token %}
                <button class="sign-up-button-big" style="cursor: pointer">JOIN WATCHECK</button>
            </form>
        </div>
        <div class="some"></div>
    </main>
{% endblock %}

