{% extends 'base.html' %}
{% block main_content %}
    <main>
        <h2 class="main-header-sign-in">WATCHECK</h2>
        <div class="sign-up-container">
            <div class="container-header">
                <a href="{% url "sign_up" %}">JOIN</a>
                <div class="vertical-line"></div>
                <a href="{% url 'sign_in' %}">SIGN IN</a>
            </div>
            <div class="horizontal-line"></div>
            <p class="some-p">SIGN UP WITH...</p>
            <div class="icons">
                <a class="google">
                    <img src="../../staticfiles/images/Group%201000003609.png" alt="">
                    <p>GOOGLE</p>
                </a>
                <a class="facebook">
                    <img src="../../staticfiles/images/Frame.png" alt="">
                    <p>FACEBOOK</p>
                </a>
            </div>
            <p class="sign-up-social">Signing up with social is super quick. No extra passwords to remember - no brain
                fail.
                Don't worry, we'd never share any of your data or post anything on your behalf.</p>
            <form class="container-main" method="post" action="{% url 'sign_up' %}">
                <h3>OR SIGN UP WITH EMAIL</h3>
                <p class="email-sign-in">EMAIL ADDRESS:</p>
                {{ form.email }}
                <p class="confirm-email">We’ll send your order confirmation here.</p>
                <p class="first-name-sign-in">USERNAME:</p>
                {{ form.username }}
                <p class="first-name-sign-in">FIRST NAME:</p>
                {{ form.first_name }}
                <p class="password-sign-in">PASSWORD:</p>
                {{ form.password1 }}
                <p class="password-sign-in">CONFIRM PASSWORD:</p>
                {{ form.password2 }}

                {% csrf_token %}
                <button class="sign-in-button">JOIN WATCHECK</button>
            </form>
        </div>
        <div class="some"></div>
    </main>
{% endblock %}

