{% extends 'base.html' %}
{% block main_content %}
    <main>
        <h2 class="main-header-sign-in">WATCHECK</h2>
        <div class="sign-in-container">
            <div class="container-header">
                <a href="{% url "sign_up" %}">JOIN</a>
                <div class="vertical-line"></div>
                <a href="{% url 'sign_in' %}">SIGN IN</a>
            </div>
            <div class="horizontal-line"></div>
            <form method="post" class="container-main">
                <p class="username-sign-in">USERNAME:</p>
                {{ form.username }}
                <p class="password-sign-in">PASSWORD:</p>
                {{ form.password }}

                {% csrf_token %}

                <button class="sign-in-button" style="cursor:pointer;">SIGN IN</button>
            </form>
            <a href="" class="forgot-password">Forgot password?</a>
            <p class="some-p">OR SIGN IN WITH...</p>
            <div class="icons">
                <a class="google">
                    <img src="../../staticfiles/images/Group%201000003609.png" alt="">
                    <p>GOOGLE</p>
                </a>
                <a class="facebook">
                    <img src="../../staticfiles/images/Frame.png" alt="">
                    <p>FACEBOOK</p>
                </a>
            </div>
        </div>
        <div class="some"></div>
    </main>
{% endblock %}
