{% extends 'base.html' %}

{% block main_content %}
    <main>
        <h2 class="main-header-about">About Us</h2>
        <img class="main-image" src="/staticfiles/images/Group 1000003598.png">
        <div class="botique-container">
            <p class="botique-content">Watcheck boutiques are the undisputed leader in the trade and service of watches.
                Over time, the company has become a symbol of professionalism, kindness and high standards, and Watcheck
                boutiques are the best destination for luxury watches and jewelry in Italy.</p>
            <img src="/staticfiles/images/Group 1000003606.png" alt="">
        </div>
        <div class="brand-container">
            <img src="/staticfiles/images/image 2.png" alt="">
            <div class="brand-second-container">
                <p class="brand-content">As an official representative of world leaders in the industry, namely brands
                    such as Omega, Breitling, Zenith, Tag Heuer, Rado, Longines, Montblanc, Roberto Coin, Marco Bicego,
                    Damiani and others, the Watcheck company is a pioneer at the national and regional level.</p>
                <p class="brand-second-content">The story begins way back in 1990 and represents an endless quest to
                    improve and meet the highest standards.</p>
            </div>
        </div>
        <div class="stores-container">
            <div class="stores-second-container">
                <p class="stores-content-about-page">Today Watcheck has stores in Rome, Milano, Florence, and Verona, as well as
                    the only Service Center of its kind in Italy and the region for all kinds of repair and maintenance
                    of watches. We at Watcheck believe that every customer deserves competent and courteous service, and
                    we strive not only to meet foreign standards, but also to further develop and raise them,
                    guaranteeing the highest quality, authenticity of products and peace of mind after purchase.</p>
                <p class="stores-second-content">When you think watches, think the best in the business, think us.</p>
            </div>
            <img class="stores-image" src="/staticfiles/images/Group 1000003607.png" alt="">
        </div>
    </main>
{% endblock %}