{% extends 'base.html' %}
{% block main_content %}
    <main class="all_orders-main">
        <div class="all-orders-container">
            <h1>ALL ORDERS</h1>
            <table>
                <tr>
                    <th>
                        Watches
                    </th>
                    <th>
                        Watches
                    </th>
                    <th>
                        Watches code
                    </th>
                    <th>
                        By user
                    </th>
                </tr>
                {% for order in all_orders %}
                    <tr>
                        <td>
                            {{ order.pk}}
                        </td>
                        <td>
                            {{ order.current_watch.brand }} {{ order.current_watch.model }}
                        </td>
                        <td>
                            {{ order.current_watch.watch_code }}
                        </td>
                        <td>
                            {{ order.current_profile.username }}
                        </td>

                    </tr>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock %}