{% extends 'base.html' %}
{% block main_content %}
    <main class="bag-main">
        <h2 class="bag-header">WATCHECK</h2>
        <div class="bag-container">
            <div class="shopping-cart-container">
                <h3 class="shopping-cart-header">
                    SHOPPING CART
                </h3>
                {% for current_element in bag_elements %}
                    <div class="bag-current-watch">
                        <img src="{{ current_element.watch_image.url }}" alt="">
                        <div class="watch-details-price">
                            <div class="bag-watch-name">
                                <h3 class="bag-watch-brand">
                                    {{ current_element.brand_watch }}
                                </h3>
                                <h4 class="bag-watch-model">
                                    {{ current_element.model_watch }}
                                </h4>
                                <select class="numbers" name="numbers">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                            <form class="price-remove-icon" action="{% url 'remove_item' current_element.id %}">
                                {% csrf_token %}
                                <button class="remove-icon">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <p>Remove</p>
                                </button>
                                <p class="bag-watch-price">${{ current_element.price }}</p>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <section class="price-section">
                <div class="price-container">
                    <div class="first-div-price-container">
                        <div class="price-container-paragraphs">
                            <p>Products price</p>
                            <p>$2100</p>
                        </div>
                        <div class="price-container-paragraphs">
                            <p>Delivery</p>
                            <p>from 0.00</p>
                        </div>
                        <div class="price-container-paragraphs">
                            <p>Total</p>
                            <p>$2100</p>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="checkout-button">Go to checkout</a>
                    </div>
                    <div class="delivery-to-the-store-container">
                        <i class="fa-solid fa-store"></i>
                        <p>Delivery to the store always free</p>
                    </div>
                    <div class="free-delivery-container">
                        <i class="fa-solid fa-cube"></i>
                        <p>Free delivery on purchases non-discounted
                            products over 200 $</p>
                    </div>
                    <div class="free-return-container">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                        <p>Free return up to 30 days</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}