{% extends 'base.html' %}
{% block main_content %}
    <main class="bag-main">
        <h2 class="bag-header">WATCHECK</h2>
        <div class="bag-container">
            <div class="shopping-cart-container">
                <h3 class="shopping-cart-header">
                    SHOPPING CART
                </h3>
                <div class="bag-current-watch">
                    <img src="/staticfiles/images/image 12.bag.png" alt="">
                    <div class="bag-watch-name">
                        <h3 class="bag-watch-brand">
                            ARNOLD & SON
                        </h3>
                        <h4 class="bag-watch-model">
                            ODYSSEY TWO TONE GOLD BLUE LIN
                        </h4>
                        <select class="numbers" name="numbers">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="price-remove-icon">
                        <div class="remove-icon">
                            <i class="fa-solid fa-trash-can"></i>
                            <p>Remove</p>
                        </div>
                        <p class="bag-watch-price">$1200</p>
                    </div>
                </div>
                <div class="bag-current-watch">
                    <img src="/staticfiles/images/image 12.bag.png" alt="">
                    <div class="bag-watch-name">
                        <h3 class="bag-watch-brand">
                            ARNOLD & SON
                        </h3>
                        <h4 class="bag-watch-model">
                            ODYSSEY TWO TONE GOLD BLUE LIN
                        </h4>
                        <select class="numbers" name="numbers">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="price-remove-icon">
                        <div class="remove-icon">
                            <i class="fa-solid fa-trash-can"></i>
                            <p>Remove</p>
                        </div>
                        <p class="bag-watch-price">$1200</p>
                    </div>
                </div>
                <div class="bag-current-watch">
                    <img src="/staticfiles/images/image 12.bag.png" alt="">
                    <div class="bag-watch-name">
                        <h3 class="bag-watch-brand">
                            ARNOLD & SON
                        </h3>
                        <h4 class="bag-watch-model">
                            ODYSSEY TWO TONE GOLD BLUE LIN
                        </h4>
                        <select class="numbers" name="numbers">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>
                    <div class="price-remove-icon">
                        <div class="remove-icon">
                            <i class="fa-solid fa-trash-can"></i>
                            <p>Remove</p>
                        </div>
                        <p class="bag-watch-price">$1200</p>
                    </div>
                </div>
            </div>
            <section class="price-section">
                <div class="price-container">
                    <div class="first-div-price-container">
                        <div class="price-container-paragraphs">
                            <p>Products price</p>
                            <p>$2100</p>
                        </div>
                        <div class="price-container-paragraphs">
                            <p>Delivery</p>
                            <p>from 0.00</p>
                        </div>
                        <div class="price-container-paragraphs">
                            <p>Total</p>
                            <p>$2100</p>
                        </div>
                    </div>
                    <div>
                        <a href="#" class="checkout-button">Go to checkout</a>
                    </div>
                    <div class="delivery-to-the-store-container">
                        <i class="fa-solid fa-store"></i>
                        <p>Delivery to the store always free</p>
                    </div>
                    <div class="free-delivery-container">
                        <i class="fa-solid fa-cube"></i>
                        <p>Free delivery on purchases non-discounted
                            products over 100 $</p>
                    </div>
                    <div class="free-return-container">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                        <p>Free return up to 30 days</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}