{% extends 'base.html' %}
{% block main_content %}
    <main class="contact-us-main">
        <div class="contact-us-container">
            <h1>Contact Us</h1>
            <h2>Contact Us</h2>
            <p>Have questions, concerns, or feedback? We're here to help! Feel free to reach out to our dedicated customer service team using the contact information provided below:</p>
            <h2>
                Customer Service Hours:
            </h2>
            <p>Monday - Friday: 9:00 AM - 6:00 PM (EST)</p>
            <p>Saturday - Sunday: Closed</p>
            <h2>Contact Information:</h2>
            <ul>
                <li>Email:</li>
                <p>For general inquiries: info@yourcompany.com</p>
                <p>For customer support: support@yourcompany.com</p>
                <li>Phone:</li>
                <p>IT Toll-Free: 0700 12 525</p>
                <p>International: +1-123-456-7890</p>
            </ul>
            <h2>
                Please Note:
                <ul class="note-ul">
                    <li>Our customer service team aims to respond to all inquiries within 24-48 hours during regular business hours.</li>
                    <li>For order-related inquiries, please include your order number and any relevant details to expedite the process.</li>
                    <li>If you have a warranty claim or need assistance with a product, please refer to our Warranty Policy for instructions on how to proceed.</li>
                    <li>For information on shipping, returns, and other policies, please visit the respective pages on our website.</li>
                </ul>
            </h2>

        </div>
    </main>
{% endblock %}