{% extends 'base.html' %}
{% block main_content %}
    <main class="payment-options-main">
        <div class="payment-options-container">
            <h1>FAQ</h1>
            <h2>1. What payment methods do you accept?</h2>
            <p>We accept only paying on cash.</p>
            <h2>2. How long does shipping take?</h2>
            <p>Shipping times vary depending on your location and the shipping method chosen at checkout. Typically,
                orders are processed within 1-2 business days, and domestic shipping takes 3-5 business days.
                International shipping times may vary.</p>
            <h2>3. Are your watches covered by a warranty?</h2>
            <p>Yes, all of our watches come with a manufacturer's warranty. The warranty period varies depending on the
                brand and model of the watch. Please refer to the product description for warranty details or contact
                our customer service team for assistance.</p>
            <h2>4. How do I care for my watch?</h2>
            <p>Proper care and maintenance are essential to prolonging the life of your watch. We recommend avoiding
                exposure to extreme temperatures, moisture, and chemicals. Regular cleaning with a soft, dry cloth can
                help maintain the appearance of your watch.</p>
        </div>
    </main>
{% endblock %}