{% extends 'base.html' %}
{% block main_content %}
    <main class="guarantee-main">
        <div class="guarantee-container">
            <h1>Guarantee & Warranty</h1>
            <h2>Guarantees and Warranties</h2>
            <p>
                At watcheck, we are committed to providing our customers with the highest quality watches and exceptional service. We understand that purchasing a timepiece is an investment, which is why we stand behind the craftsmanship of our products with comprehensive guarantees and warranties.
            </p>
            <h2>What is a Guarantee?</h2>
            <p>A guarantee is our promise to you that your watch is free from defects in materials and workmanship. It ensures that your purchase meets our quality standards and is backed by our commitment to excellence.</p>
            <h2>What is a Warranty?</h2>
            <p>
                A warranty provides additional protection beyond the guarantee period. It covers specific components or services for a defined period, offering you peace of mind and assurance in the longevity of your timepiece.
            </p>
            <h2>
                Types of Guarantees and Warranties
            </h2>
            <p>
                Manufacturer's Warranty: Our watches come with a standard manufacturer's warranty, covering defects in materials and workmanship for a specified period from the date of purchase.

Extended Warranty: For added security, we offer extended warranties that extend coverage beyond the standard warranty period. This option provides you with continued protection and support for your investment.
            </p>
        </div>
    </main>
{% endblock %}