<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/staticfiles/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Sawarabi Mincho' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee Hairline' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>


</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo"><a>WATCHECK</a></h1>
            <ul class="nav-links">
                <li><a>Home</a></li>
                <li class="link"><a>Collections</a></li>
                <li class="link"><a>Stores</a></li>
                <li class="link"><a>About Us</a></li>
            </ul>
            <div class="icons-contaniner">
                <a><i class="fa-solid fa-magnifying-glass"></i></a>
                <a><i class="fa-solid fa-bag-shopping"></i></a>
                <a><i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <section class="first-section">
            <div>
                <p class="main-header">EXPERIENCE THE LUXURY OF TIME</p>
                <div class="something"><a class="shop-button">SHOP NOW</a></div>
            </div>
            <img class="main-image" src="/staticfiles/images/c68451e0ac9069c995e2288bd5912ba2.jpg">
        </section>
        <section class="second-section">
            <p class="new-collection">New Collection</p>
            <div class="collection-images">
                <img class="second-section-image" src="/staticfiles/images/3f9b1a36672b38be73fa2c4e4b604760.jpg">
                <img class="second-section-image" src="/staticfiles/images/3c17db7c95e649074fec9689c1f886c5.jpg">
                <img class="second-section-image" src="/staticfiles/images/e82840334282305fedb022114760c209.jpg">
            </div>
        </section>
        <section class="third-section">
            <h3 class="third-section-header">OUR FEATURES</h3>
            <p class="third-section-content">For Those Who Value Good Design Highly</p>
            <div class="third-section-positives">
                <h3 class="header-positives">Comfortable and Secure</h3>
                <img src="/staticfiles/images/a1e27b4a5bd5114e49b3abedab1fa950.jpg">
                <h3 class="header-positives">Comfortable and Secure</h3>
            </div>
        </section>
    </main>
</body>
</html>
