{% extends 'base.html' %}
{% block main_content %}
    <main>
        <section class="first-section">
            <div>
                <p class="main-header-home">EXPERIENCE THE LUXURY OF TIME</p>
                <div class="something"><a class="shop-button" href="{% url 'shop' %}">SHOP NOW</a></div>
            </div>
            <img class="main-image" src="/staticfiles/images/IMG_5046 2.png">
        </section>
        <section class="second-section">
            <p class="new-collection">New Collection</p>
            <div class="collection-images">
                <img class="second-section-image" src="/staticfiles/images/3f9b1a36672b38be73fa2c4e4b604760.jpg">
                <img class="second-section-image" src="/staticfiles/images/3c17db7c95e649074fec9689c1f886c5.jpg">
                <img class="second-section-image" src="/staticfiles/images/e82840334282305fedb022114760c209.jpg">
            </div>
        </section>
        <section class="third-section">
            <h3 class="third-section-header">OUR FEATURES</h3>
            <p class="third-section-content">For Those Who Value Good Design Highly</p>
            <div class="third-section-positives">
                <div class="first-column">
                    <h3 class="header-positives-first">Comfortable and Secure</h3>
                    <p class="positive-content-first">No expense is spared when it to ensuring
                        that our watches are tured to exact.</p>
                    <hr class="line">
                    <h3 class="header-positives-first">Water Resistance</h3>
                    <p class="positive-content-first">No expense is spared when it to ensuring
                        that our watches are tured to exact.</p>
                    <hr class="line">
                    <h3 class="header-positives-first">Multiple Time Zone</h3>
                    <p class="positive-content-first">No expense is spared when it to ensuring
                        that our watches are tured to exact.</p>
                </div>
                <img src="/staticfiles/images/a1e27b4a5bd5114e49b3abedab1fa950.jpg">
                <div class="second-column">
                    <h3 class="header-positives-second">Heart Rate Monitor</h3>
                    <p class="positive-content-second">No expense is spared when it to ensuring
                        that our watches are tured to exact.</p>
                    <hr class="line">
                    <h3 class="header-positives-second">Date and Day Dials</h3>
                    <p class="positive-content-second">No expense is spared when it to ensuring
                        that our watches are tured to exact.</p>
                    <hr class="line">
                    <h3 class="header-positives-second">Extra Long Battery</h3>
                    <p class="positive-content-second">No expense is spared when it to ensuring
                        that our watches are tured to exact.</p>
                </div>
            </div>
            <p class="since-text">The Leading Marketplace for Luxury Watches Since 2015</p>
            <div class="exclusive-content">
                <div class="square-container">
                    <img src="/staticfiles/images/Screenshot 2023-02-25 at 17.09.png">
                    <h4 class="header-of-square">4.8 out of 5 stars</h4>
                    <p class="content-of-square">from 130.000 reviews world worldwide</p>
                </div>
                <div class="square-container">
                    <img src="/staticfiles/images/Screenshot 2023-02-25 at 17.09(1).png">
                    <h4 class="header-of-square">3 million</h4>
                    <p class="content-of-square">watch enthusiasts use WATCHECK each month</p>
                </div>
                <div class="square-container">
                    <img src="/staticfiles/images/Screenshot 2023-02-25 at 17.09..png">
                    <h4 class="header-of-square">Over 100.000</h4>
                    <p class="content-of-square">customers choose Buyer Protection
                        annually</p>
                </div>
            </div>
            <h2 class="brands">BRANDS</h2>
        </section>
    </main>
{% endblock %}