<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/staticfiles/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Sawarabi Mincho' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo">WATCHECK</h1>
            <ul class="nav-links">
                <li><a>Home</a></li>
                <li><a>Collections</a></li>
                <li><a>Stores</a></li>
                <li><a>About Us</a></li>
            </ul>
            <div class="icons-contaniner">
                <a><i class="fa-solid fa-magnifying-glass"></i></a>
                <a><i class="fa-solid fa-bag-shopping"></i></a>
                <a><i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>
</body>
</html>