{% extends 'base.html' %}
{% block main_content %}
    <main class="payment-options-main">
        <div class="payment-options-container">
            <h1>Payment Options</h1>
            <h2>Payment Options</h2>
            <p>Thank you for choosing WATCHECK for your watch purchases. We offer a variety of convenient payment
                options to ensure a seamless shopping experience. At this time, we only accept payment in cash.</p>
            <h2>Why Cash?</h2>
            <p>We understand the importance of privacy and security when it comes to financial transactions. Accepting
                cash payments provides our customers with an added layer of anonymity and peace of mind. Additionally,
                paying with cash eliminates the risk of online fraud or identity theft.</p>

        </div>
    </main>
{% endblock %}
