{% extends 'base.html' %}
{% block main_content %}
    <main class="shipping-main">
        <div class="shipping-container">
            <h1>
                Shipping Policy
            </h1>
            <h2>
                Processing Time:
            </h2>
            <ul>
                <li>Orders are typically processed within 1-2 business days after payment confirmation.</li>
                <li>During peak seasons or promotional periods, processing times may be slightly longer. Rest assured, we work diligently to fulfill orders as quickly as possible.</li>
            </ul>
            <h2>
                Shipping Methods and Rates:
            </h2>
            <ul>
                <li>We offer various shipping methods to accommodate your needs, including standard, expedited, and express shipping options.</li>
                <li>Shipping rates are calculated based on the destination, weight, and shipping method selected during checkout.</li>
                <li>Free shipping may be available for orders meeting certain criteria. Check our website or promotional materials for current offers.</li>
            </ul>
            <h2>
                Delivery Time:
            </h2>
            <ul>
                <li>Delivery times vary depending on the shipping method selected and the destination.</li>
                <li>Standard shipping typically takes between 3-7 business days for domestic orders, and 7-21 business days for international orders.</li>
                <li>Expedited and express shipping options are available for faster delivery times.</li>
            </ul>
        </div>

    </main>
{% endblock %}