<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../staticfiles/css/stores.css">
    <link href='https://fonts.googleapis.com/css?family=Sawarabi Mincho' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee Hairline' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo"><a>WATCHECK</a></h1>
            <ul class="nav-links">
                <li><a>Home</a></li>
                <li class="link"><a>Men's</a></li>
                <li class="link"><a>Women's</a></li>
                <li class="link"><a>Stores</a></li>
                <li class="link"><a>About Us</a></li>
            </ul>
            <div class="icons-contaniner">
                <a><i class="fa-solid fa-magnifying-glass"></i></a>
                <a><i class="fa-solid fa-bag-shopping"></i></a>
                <a><i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <h2 class="main-header">Stores</h2>
        <div class="stores-content">
            <div class="first-content">
                <div>
                    <h4 class="first-header">Rome</h4>
                    <p class="content">‘’Via Della’’ 5</p>
                    <p class="content"><strong>Phone:</strong> +39 03125 1493125</p>
                    <p class="content"><strong>Opening Hours:</strong> 10:00-22:00</p>
                </div>
                <div>
                    <h4 class="first-header">Florence</h4>
                    <p class="content">‘’Ponte Vecchio’’ 1</p>
                    <p class="content"><strong>Phone:</strong> +39 03125 1493125</p>
                    <p class="content"><strong>Opening Hours:</strong> 10:00-22:00</p>
                </div>
            </div>
            <div class="second-content">
                <div>
                    <h4 class="first-header">Milano</h4>
                    <p class="content">‘’Piazza Della Gensola’’ 2</p>
                    <p class="content"><strong>Phone:</strong> +39 03125 1493125</p>
                    <p class="content"><strong>Opening Hours:</strong> 10:00-21:00</p>
                </div>
                <div>
                    <h4 class="first-header">Verona</h4>
                    <p class="content">‘’Lungarno Torrigiani’’ 8</p>
                    <p class="content"><strong>Phone:</strong> +39 03125 1493125</p>
                    <p class="content"><strong>Opening Hours:</strong> 10:00-21:00</p>
                </div>
            </div>
        </div>
        <div class="main-images">
            <img src="/staticfiles/images/close-up-seller-s-hands-gloves-shows-exclusive-men-s-watch-from-new-collection-luxury-jewelry-store%201.png" alt="">
            <img src="/staticfiles/images/Capture%201.png" alt="">
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="customer-service">
                <h4 class="customer-service-header">Customer service</h4>
                <div class="customer-service-content">
                    <div class="first-customer-service">
                        <p>Guarantee & Warranty</p>
                        <p>Shipping Policy</p>
                    </div>
                    <div class="second-customer-service">
                        <p>Payment Options</p>
                        <p>Contact Us</p>
                    </div>
                </div>
            </div>
            <div class="about">
                <h4 class="about-header">About WATCHECK</h4>
                <div class="about-content">
                    <div class="first-about">
                        <p>About Us</p>
                        <p>FAQ</p>
                    </div>
                    <p>Reviews</p>
                </div> 
            </div>
            <div class="subscribe">
                <h4 class="subscribe-header">Subscribe to out newsletter</h4>
                <div class="email">
                    <input class="input-email" type="text" placeholder="Your Email Address">
                    <a class="sign-up-button">Sign Up</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>