{% extends 'base.html' %}

{% block main_content %}
    <main>
        <h2 class="main-header-stores">Stores</h2>
        <div class="stores-content">
            <div class="first-content">
                <div>
                    <h4 class="first-header">Rome</h4>
                    <p class="content">‘’Via Della’’ 5</p>
                    <p class="content"><strong>Phone:</strong> +39 03125 1493125</p>
                    <p class="content"><strong>Opening Hours:</strong> 10:00-22:00</p>
                </div>
                <div>
                    <h4 class="first-header">Florence</h4>
                    <p class="content">‘’Ponte Vecchio’’ 1</p>
                    <p class="content"><strong>Phone:</strong> +39 03125 1493125</p>
                    <p class="content"><strong>Opening Hours:</strong> 10:00-22:00</p>
                </div>
            </div>
            <div class="second-content">
                <div>
                    <h4 class="first-header">Milano</h4>
                    <p class="content">‘’Piazza Della Gensola’’ 2</p>
                    <p class="content"><strong>Phone:</strong> +39 03125 1493125</p>
                    <p class="content"><strong>Opening Hours:</strong> 10:00-21:00</p>
                </div>
                <div>
                    <h4 class="first-header">Verona</h4>
                    <p class="content">‘’Lungarno Torrigiani’’ 8</p>
                    <p class="content"><strong>Phone:</strong> +39 03125 1493125</p>
                    <p class="content"><strong>Opening Hours:</strong> 10:00-21:00</p>
                </div>
            </div>
        </div>
        <div class="main-images">
            <img src="/staticfiles/images/close-up-seller-s-hands-gloves-shows-exclusive-men-s-watch-from-new-collection-luxury-jewelry-store%201.png"
                 alt="">
            <img src="/staticfiles/images/Capture%201.png" alt="">
        </div>
    </main>
{% endblock %}