<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/staticfiles/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Sawarabi Mincho' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee Hairline' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>


</head>
<body>
<header>
    <form method="post" action="{% url 'search' %}" id="search" class="search-container">
        {% csrf_token %}
        <input type="text" class="search-input" placeholder="Search..." name="searched">
    </form>
    <nav class="navbar">
        <h1 class="logo"><a href="{% url 'home' %}">WATCHECK</a></h1>
        <ul class="nav-links">
            {% if request %}
            {% endif %}
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="link"><a href="{% url 'shop' %}">Shop</a></li>
            <li class="link"><a href="{% url 'stores' %}">Stores</a></li>
            <li class="link"><a href="{% url 'about' %}">About Us</a></li>
        </ul>
        <div class="icons-contaniner">
            <a onclick="toggleSearch()"><i class="fa-solid fa-magnifying-glass"></i></a>
            <span class="count-elements-in-bag">{{ count_watches_on_bag }}</span>
            <a href="{% url 'bag' %}" style="color: #000000"><i class="fa-solid fa-bag-shopping"></i></a>
            {% if user.is_authenticated %}
                <a href="{% url 'account-details' user.pk %}"><i class="fa-solid fa-user" style="color: black;"></i></a>
            {% else %}
                <a href="{% url 'sign_in' %}"><i class="fa-solid fa-user" style="color: black;"></i></a>
            {% endif %}
        </div>
    </nav>
</header>
{% block main_content %}
{% endblock %}
<footer>
    <div class="footer-container">
        <div class="customer-service">
            <h4 class="customer-service-header">Customer service</h4>
            <div class="customer-service-content">
                <div class="first-customer-service">
                    <p>Guarantee & Warranty</p>
                    <p>Shipping Policy</p>
                </div>
                <div class="second-customer-service">
                    <p>Payment Options</p>
                    <p>Contact Us</p>
                </div>
            </div>
        </div>
        <div class="about">
            <h4 class="about-header">About WATCHECK</h4>
            <div class="about-content">
                <div class="first-about">
                    <a href="{% url 'about' %}" class="about-us-footer">
                        About Us
                    </a>
                    <p>FAQ</p>
                </div>
                <p>Reviews</p>
            </div>
        </div>
        <div class="subscribe">
            <h4 class="subscribe-header">Subscribe to out newsletter</h4>
            <div class="email">
                <input class="input-email" type="text" placeholder="Your Email Address">
                <a class="sign-up-button">Sign Up</a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
<script>
    function toggleSearch() {
        const search = document.getElementById('search');
        if (search.style.display === 'none' || search.style.display === '') {
            search.style.display = 'block';
            const count_of_elements_in_bag = document.querySelector('.count-elements-in-bag');
            count_of_elements_in_bag.style.top = '62px';
        } else {
            search.style.display = 'none';
            const count_of_elements_in_bag = document.querySelector('.count-elements-in-bag');
            count_of_elements_in_bag.style.top = '23px';
        }
    }


</script>