<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../staticfiles/css/watch-details.css">
    <link href='https://fonts.googleapis.com/css?family=Sawarabi Mincho' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee Hairline' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>


</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo"><a>WATCHECK</a></h1>
            <ul class="nav-links">
                <li><a>Home</a></li>
                <li class="link"><a>Men's</a></li>
                <li class="link"><a>Women's</a></li>
                <li class="link"><a>Stores</a></li>
                <li class="link"><a>About Us</a></li>
            </ul>
            <div class="icons-contaniner">
                <a><i class="fa-solid fa-magnifying-glass"></i></a>
                <a><i class="fa-solid fa-bag-shopping"></i></a>
                <a><i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="watch">
            <div class="watches-images">
                <img src="/staticfiles/images/Arnold-and-Son-Nebula-41-5-Gold_web_1024x1024 1(5).png" alt="" class="first-watch-image">
                <div class="second-images">
                    <img src="/staticfiles/images/image 33.png" alt="">
                    <img src="/staticfiles/images/image 34.png" alt="">
                </div>
                <div class="third-images">
                    <img src="/staticfiles/images/image 35.png" alt="">
                    <img src="/staticfiles/images/image 37.png" alt="">
                </div>
            </div>
            <div class="about-watch">
                <h2 class="watch-header">
                    ARNOLD & SON
                </h2>
                <h3 class="watch-under-header">
                    ODYSSEY TWO TONE GOLD BLUE LINK
                </h3>
                <p class="watch-manufacture">
                    Manufacture mechanical  movement with manual winding, 9611 MC.
                </p>
                <p class="code-watch">
                    Code: WBE5191.FC8276
                </p>
                <p class="price-watch">
                    $1200
                </p>
                <div class="button-container">
                    <a href="" class="add-to-bag-button">
                        ADD TO BAG
                    </a>
                </div>
                <div class="watch-specifications">
                    <div class="watch-specifications-row-1">
                        <h3>Case Material</h3>
                        <p>Stainless Steel</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Strap Material</h3>
                        <p>Stainless Steel Link</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Movement</h3>
                        <p>Seiko VD54</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Water Resistance</h3>
                        <p>100M (10ATM)</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Case Diameter</h3>
                        <p>42MM</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Case Thickness</h3>
                        <p>12.5mm</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Glass</h3>
                        <p>Sapphire Coated Glass</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="customer-service">
                <h4 class="customer-service-header">Customer service</h4>
                <div class="customer-service-content">
                    <div class="first-customer-service">
                        <p>Guarantee & Warranty</p>
                        <p>Shipping Policy</p>
                    </div>
                    <div class="second-customer-service">
                        <p>Payment Options</p>
                        <p>Contact Us</p>
                    </div>
                </div>
            </div>
            <div class="about">
                <h4 class="about-header">About WATCHECK</h4>
                <div class="about-content">
                    <div class="first-about">
                        <p>About Us</p>
                        <p>FAQ</p>
                    </div>
                    <p>Reviews</p>
                </div>
            </div>
            <div class="subscribe">
                <h4 class="subscribe-header">Subscribe to out newsletter</h4>
                <div class="email">
                    <input class="input-email" type="text" placeholder="Your Email Address">
                    <a class="sign-up-button">Sign Up</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
