<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../staticfiles/css/sign-up.css">
    <link href='https://fonts.googleapis.com/css?family=Sawarabi Mincho' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Bungee Hairline' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>


</head>
<body>
    <header>
        <nav class="navbar">
            <h1 class="logo"><a>WATCHECK</a></h1>
            <ul class="nav-links">
                <li><a>Home</a></li>
                <li class="link"><a>Men's</a></li>
                <li class="link"><a>Women's</a></li>
                <li class="link"><a>Stores</a></li>
                <li class="link"><a>About Us</a></li>
            </ul>
            <div class="icons-contaniner">
                <a><i class="fa-solid fa-magnifying-glass"></i></a>
                <a><i class="fa-solid fa-bag-shopping"></i></a>
                <a><i class="fa-solid fa-user"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <h2 class="main-header-sign-in">WATCHECK</h2>
        <div class="sign-in-container">
            <div class="container-header">
                <a href="">JOIN</a>
                <div class="vertical-line"></div>
                <a href="">SIGN IN</a>
            </div>
            <div class="horizontal-line"></div>
            <p class="some-p">SIGN UP WITH...</p>
            <div class="icons">
                <a class="google">
                    <img src="../staticfiles/images/Group 1000003609.png" alt="">
                    <p>GOOGLE</p>
                </a>
                <a class="facebook">
                    <img src="../staticfiles/images/Frame.png" alt="">
                    <p>FACEBOOK</p>
                </a>
            </div>
            <p class="sign-up-social">Signing up with social is super quick. No extra passwords to remember - no brain fail.
                Don't worry, we'd never share any of your data or post anything on your behalf.</p>
            <div class="container-main">
                <h3>OR SIGN UP WITH EMAIL</h3>
                <p class="email-sign-in">EMAIL ADDRESS:</p>
                <input type="text" name="" class="email-sign-in-input">
                <p class="confirm-email">We’ll send your order confirmation here.</p>
                <p class="first-name-sign-in">FIRST NAME:</p>
                <input type="text" name="" class="email-sign-in-input">
                <p class="first-name-sign-in">LAST NAME:</p>
                <input type="text" name="" class="email-sign-in-input">
                <p class="password-sign-in">PASSWORD:</p>
                <input type="text" name="" class="password-sign-in-input">
                <p class="password-sign-in">CONFIRM PASSWORD:</p>
                <input type="text" name="" class="password-sign-in-input">
                <p class="first-name-sign-in">DATE OF BIRTH:</p>
                <form action="#">
                    <div class="dob-inputs">
                      <input type="number" class="day" name="day" placeholder="DD" min="1" max="31" required>
                      <input type="text" class="month" name="month" placeholder="Month" required>
                      <input type="number" class="year" name="year" placeholder="YYYY" min="1900" max="2024" required>
                    </div>
                  </form>
                <p class="year-recomended">You need to be 16 or over to use WATCHECK.</p>
                <a href="" class="sign-in-button">JOIN WATCHECK</a>
            </div>
        </div>
        <div class="some"></div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="customer-service">
                <h4 class="customer-service-header">Customer service</h4>
                <div class="customer-service-content">
                    <div class="first-customer-service">
                        <p>Guarantee & Warranty</p>
                        <p>Shipping Policy</p>
                    </div>
                    <div class="second-customer-service">
                        <p>Payment Options</p>
                        <p>Contact Us</p>
                    </div>
                </div>
            </div>
            <div class="about">
                <h4 class="about-header">About WATCHECK</h4>
                <div class="about-content">
                    <div class="first-about">
                        <p>About Us</p>
                        <p>FAQ</p>
                    </div>
                    <p>Reviews</p>
                </div> 
            </div>
            <div class="subscribe">
                <h4 class="subscribe-header">Subscribe to out newsletter</h4>
                <div class="email">
                    <input class="input-email" type="text" placeholder="Your Email Address">
                    <a class="sign-up-button">Sign Up</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

