{% extends 'base.html' %}
{% block main_content %}
    <main>
        <div class="first-section">
            <img src="/staticfiles/images/image%201%2010.png" alt="">
            <div class="first-section-text">
                <h3>Men's Watches</h3>
                <p>Experience the Ultimate in Luxury and Style, Because You Deserve it!</p>
            </div>
        </div>
        <h2 class="filter-section-header">Filters</h2>
        <div class="filter-section">
            <div class="filter-container">
                <ul class="filters">
                    <div class="filters-container">
                        <div class="current-filters">
                            <li>Brand</li>
                            <img src="/staticfiles/images/Vector(10).png" alt="" class="plus"
                                 onclick="toggleList(this)">
                        </div>
                        <ul class="hidden">
                            <div class="hidden-container">
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="filters-container">
                        <div class="current-filters">
                            <li>Style</li>
                            <img src="/staticfiles/images/Vector(10).png" alt="" class="plus"
                                 onclick="toggleList(this)">
                        </div>
                        <ul class="hidden">
                            <div class="hidden-container">
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="filters-container">
                        <div class="current-filters">
                            <li>Case Material</li>
                            <img src="/staticfiles/images/Vector(10).png" alt="" class="plus"
                                 onclick="toggleList(this)">
                        </div>
                        <ul class="hidden">
                            <div class="hidden-container">
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="filters-container">
                        <div class="current-filters">
                            <li>Price</li>
                            <img src="/staticfiles/images/Vector(10).png" alt="" class="plus"
                                 onclick="toggleList(this)">
                        </div>
                        <ul class="hidden">
                            <div class="hidden-container">
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="filters-container">
                        <div class="current-filters">
                            <li>Dial Color</li>
                            <img src="/staticfiles/images/Vector(10).png" alt="" class="plus"
                                 onclick="toggleList(this)">
                        </div>
                        <ul class="hidden">
                            <div class="hidden-container">
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="filters-container">
                        <div class="current-filters">
                            <li>Case Diameter</li>
                            <img src="/staticfiles/images/Vector(10).png" alt="" class="plus"
                                 onclick="toggleList(this)">
                        </div>
                        <ul class="hidden">
                            <div class="hidden-container">
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                                <div class="toggle-ul-container">
                                    <input type="checkbox">
                                    <li>Item 1</li>
                                </div>
                            </div>
                        </ul>
                    </div>
                </ul>
            </div>
            <div class="watches-container">
                <div class="watches-images">
                    {% for watch in watches %}
                        <div class="image">
                            <img src="{{ watch.image_for_shop_page.url }}" alt="">
                            <div class="name-price-container">
                                <h4 class="watch-name">{{ watch.brand }}</h4>
                                <p class="watch-price">${{ watch.price }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
    <script>
        function toggleList(element) {
            var ul = element.parentElement.nextElementSibling;
            ul.classList.toggle("hidden");
        }
    </script>
{% endblock %}