{% extends 'base.html' %}
{% block main_content %}
    <main>
        <div class="watch-details-page-container">
            <div>
                <img src="{{ current_watch.main_image.url }}" alt="" class="first-watch-image">
                <div class="second-images">
                    <img src="{{ current_watch.first_small_image.url }}" alt="">
                    <img src="{{ current_watch.second_small_image.url }}" alt="">
                </div>
                {% if current_watch.third_small_image %}
                    <div class="third-images">
                        <img src="{{ current_watch.third_small_image.url }}" alt="">
                        <img src="{{ current_watch.fourth_small_image.url }}" alt="">
                    </div>
                {% endif %}
            </div>
            <div class="about-watch">
                <h2 class="watch-header">
                    {{ current_watch.brand }}
                </h2>
                <h3 class="watch-under-header">
                    {{ current_watch.model }}
                </h3>
                <p class="watch-manufacture">
                    {{ current_watch.details_text }}
                </p>
                <p class="code-watch">
                    Code: {{ current_watch.watch_code }}
                </p>
                <p class="price-watch">
                    ${{ current_watch.price }}
                </p>
                <a href="" class="add-to-bag-button">
                    ADD TO BAG
                </a>
                <div class="watch-specifications">
                    <div class="watch-specifications-row-1">
                        <h3>Case Material</h3>
                        <p>{{ current_watch.case_material }}</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Strap Material</h3>
                        <p>{{ current_watch.strap_material }}</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Movement</h3>
                        <p>{{ current_watch.movement }}</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Water Resistance</h3>
                        <p>{{ current_watch.water_resistance }}</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Case Diameter</h3>
                        <p>{{ current_watch.case_diameter }}MM</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Case Thickness</h3>
                        <p>{{ current_watch.case_thickness }}mm</p>
                    </div>
                    <div class="watch-specifications-row-1">
                        <h3>Glass</h3>
                        <p>{{ current_watch.glass }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="reviews">
            <h3 class="reviews-header">Reviews</h3>
            <div class="evaluation-container">
                <p class="evaluation">4.8</p>
                <div class="stars">
                    <i class="fa-solid fa-star" id="big-star"></i>
                    <i class="fa-solid fa-star" id="big-star"></i>
                    <i class="fa-solid fa-star" id="big-star"></i>
                    <i class="fa-solid fa-star" id="big-star"></i>
                    <i class="fa-solid fa-star" id="big-star"></i>
                </div>
            </div>
            <div class="person-reviews">
                <div class="person">
                    <div class="stars-and-date">
                        <div class="stars">
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                        </div>
                        <p class="date">
                            01 Feb 2023
                        </p>
                    </div>
                    <p class="reviews-text">
                        Great selection. Found a watch at a good price. Excited to see my son reaction when he opens
                        this gift.
                    </p>
                    <div class="profile-details">
                        <img src="../staticfiles/images/man-looking-attractive.webp" alt="" class="profile-image">
                        <div>
                            <h4 class="account-name">Oliver Munch</h4>
                            <p class="country">Germany</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="stars-and-date">
                        <div class="stars">
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                        </div>
                        <p class="date">
                            01 Feb 2023
                        </p>
                    </div>
                    <p class="reviews-text">
                        Great selection. Found a watch at a good price. Excited to see my son reaction when he opens
                        this gift.
                    </p>
                    <div class="profile-details">
                        <img src="../staticfiles/images/man-looking-attractive.webp" alt="" class="profile-image">
                        <div>
                            <h4 class="account-name">Oliver Munch</h4>
                            <p class="country">Germany</p>
                        </div>
                    </div>
                </div>
                <div class="person">
                    <div class="stars-and-date">
                        <div class="stars">
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                            <i class="fa-solid fa-star" id="small-stars"></i>
                        </div>
                        <p class="date">
                            01 Feb 2023
                        </p>
                    </div>
                    <p class="reviews-text">
                        Great selection. Found a watch at a good price. Excited to see my son reaction when he opens
                        this gift.
                    </p>
                    <div class="profile-details">
                        <img src="../staticfiles/images/man-looking-attractive.webp" alt="" class="profile-image">
                        <div>
                            <h4 class="account-name">Oliver Munch</h4>
                            <p class="country">Germany</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}