/* HEADER */
*{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
}

header{
    background-color: #F2EBDF;
    opacity: 100%;
    top: 0;
}

.logo {
    color: #000000;
    opacity: 100%;
    font-family: 'Sawarabi Mincho';
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-links{
    width: 75%;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
    padding-left: 0;
}

.nav-links li{
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
}

.link{
    padding-left: 2%;
}


.nav-links li:hover{
    text-decoration: underline;
    color: #B48D56;
    cursor: pointer;
}

.icons-contaniner{
    width: 10%;
    text-align: end;
}

.icons-contaniner a{
    padding-left: 5%;
    cursor: pointer;
}


/* MAIN */


.first-section {
    background-color: #000000;
}

.main-header{
    font-family: Bungee Hairline;
    color: #E7CFAC;
    opacity: 100%;
    font-size: 95px;
    text-align: center;
    margin-bottom: 0px;
    line-height: 95%;
    padding-left: 6%;
    padding-right: 6%;
    margin-top: 25%;
}

.first-section{
    display: flex;
}

.shop-button{
    color: #F2EBDF;
    opacity: 67%;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.something{
    text-align: center;
}

.shop-button::before {
    content: "";
    border-bottom: 2px solid transparent;
    position: absolute;
    width: 0;
    transition: width 0.3s ease;
    margin-top: 2%;
}

.shop-button:hover::before {
    width: 8.6%;
    border-color: #B48D56;
}


.second-section{
    background-color: #191919;
}

.new-collection{
    color: #FFFFFF;
    opacity: 70%;
    font-family: Poppins;
    font-size: 42px;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.collection-images{
    text-align: center;
    height: 73.2vh;
}

.second-section-image{
    max-width: 100%;
    height: auto;
}

.third-section{
    background-color: #000000;
}

.third-section-header{
    font-family: Poppins;
    color: #B48D56;
    font-weight: lighter;
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    padding-top: 1%;
    margin-bottom: 0;
}

.third-section-content{
    color: #FFFFFF;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
}

.third-section-positives{
    display: flex;
}

.header-positives-first{
    font-family: Cairo;
    font-weight: 400;
    color: #B48D56;
    font-size: 28px;
    margin-bottom: 0;
}

.positive-content-first{
    font-family: Cairo;
    font-size: 24px;
    font-weight: 200;
    color: #FFFFFF;
    opacity: 70%;
    margin-top: 0;
    margin-bottom: 10px;
}

.first-column{
    padding-top: 5%;
    width: 35%;
    padding-left: 7%;
}

.second-column{
    padding-top: 5%;
    width: 35%;
    padding-left: 0.5%;
    padding-right: 7%;
}

.header-positives-second{
    font-family: Cairo;
    font-weight: 400;
    color: #B48D56;
    font-size: 28px;
    margin-bottom: 0;
}

.positive-content-second{
    font-family: 'Cairo';
    font-size: 24px;
    font-weight: 200;
    color: #FFFFFF;
    opacity: 70%;
    margin-top: 0;
    margin-bottom: 10px;
}

.line{
    color: #FFFFFF;
    opacity: 20%;
}

.since-text{
    padding-top: 1%;
    margin-left: 20px;
    font-family: 'Sawarabi Mincho';
    font-weight: lighter;
    font-size: 28px;
    color: #FFFFFF;
    opacity: 80%;
    text-decoration: underline #B48D56;
}

.exclusive-content{
    margin-top: 4%;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.square-container{
    width: 18%;
    height: 30vh;
    border: 1px solid #B48D56;
    text-align: center;
}

.header-of-square{
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 16px;
    color: #FFFFFF;
}

.content-of-square{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: lighter;
    color: #FFFFFF;
}

.brands{
    font-family: 'Cairo';
    font-weight: 100;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
}

/* Footer */

footer{
    background-color: #F2EBDF;
    padding-left: 3%;
    padding-right: 3%;
}

.customer-service-content{
    display: flex;
}

.first-customer-service{
    padding-right: 130px;
}

.customer-service-header{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 17px;
}

.customer-service-content p{
    font-family: 'Poppins';
    font-weight: lighter;
    color: #404040;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 7px;
}

.customer-service-content{
    border-top: 1px solid #B48D56;
    width: 420px;
    padding-bottom: 17px;
}

.footer-container{
    display: flex;
}

.about-header{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 17px;
}

.about-content{
    display: flex;
    border-top: 1px solid #B48D56;
    width: 420px;
    padding-bottom: 17px;
}

.first-about{
    padding-right: 130px;
}

.about-content p{
    font-family: 'Poppins';
    font-weight: lighter;
    color: #404040;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 7px;
}

.about{
    margin-left: 250px;
}

.email{
    display: flex;
}
