/* HEADER */
*{
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px; /* Width of vertical scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
}

/* Optional: Hover style for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

body {
    min-height: 100vh;
    margin: 0;
}

header{
    background-color: #F2EBDF;
    opacity: 100%;
    top: 0;
}

.logo {
    color: #000000;
    opacity: 100%;
    font-family: 'Sawarabi Mincho';
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-links{
    width: 75%;
    display: flex;
    text-align: center;
    list-style: none;
    justify-content: center;
    padding-left: 0;
}

.nav-links li{
    font-family: Poppins;
    font-size: 19px;
    font-weight: 500;
}

.link{
    padding-left: 2%;
}


.nav-links li:hover{
    text-decoration: underline;
    color: #B48D56;
    cursor: pointer;
}

.icons-contaniner{
    width: 10%;
    text-align: end;
}

.icons-contaniner a{
    padding-left: 5%;
    cursor: pointer;
}


/* MAIN */

main{
    background-color: #000000;
}

.first-section{
    position: relative;
}

.first-section-text{
    position: absolute;
    top: 30%;
    left: 3%;
}


.first-section-text h3{
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 300;
    color: #272727;
    margin-bottom: 4px;
}

.first-section-text p{
    margin-top: 7px;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 300;
    color: #272727;
    width: 400px;

}

.filter-section{
    color: #FFFFFF;
    opacity: 80%;
    margin-left: 50px;
    display: flex;
}

.filter-section-header{
    font-family: 'Poppins';
    font-size: 34px;
    font-weight: 500;
    padding-left: 65px;
    color: #FFFFFF;
    opacity: 80%;
}

.filters{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 500;
    width: 300px;
}

.toggle-ul-container{
    display: flex;
}

.toggle-ul-container input{
    color: black;
    margin-right: 12px;
    accent-color: #FFFFFF;
}


#toggle-image{
    cursor: pointer;
    display: block;
}

.current-filters{
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    padding-left: 35px;
    padding-bottom: 7px;
    display: flex;
}

.current-filters img{
    height: 25.95px;
    width: 24px;
    left: 16.5%;
    position: absolute;
}

.watches-container{
    width: 100%;
}

.watches-images{
    display: flex;
    justify-content: space-evenly;
}

.watch-name{
    margin-top: 16px;
}

.name-price-container{
    display: flex;
    justify-content: space-between;
}

#toggle-ul{
    list-style-type: none;
    padding-top: 50px;
    padding-left: 0;
    position: relative;
    right: 18%;
}
/* Footer */

footer{
    background-color: #F2EBDF;
    padding-left: 3%;
    padding-right: 3%;
}

.customer-service-content{
    display: flex;
}

.first-customer-service{
    padding-right: 130px;
}

.customer-service-header{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 17px;
}

.customer-service-content p{
    font-family: 'Poppins';
    font-weight: lighter;
    color: #404040;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 7px;
}

.customer-service-content{
    border-top: 1px solid #B48D56;
    width: 420px;
    padding-bottom: 17px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
}

.about-header{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    color: #404040;
    margin-top: 0;
    margin-bottom: 2px;
    padding-top: 17px;
}

.about-content{
    display: flex;
    border-top: 1px solid #B48D56;
    width: 420px;
    padding-bottom: 17px;
}

.first-about{
    padding-right: 130px;
}

.about-content p{
    font-family: 'Poppins';
    font-weight: lighter;
    color: #404040;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 7px;
}



.email{
    display: flex;
}

.subscribe-header{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: bold;
    color: #404040;
    margin-bottom: 7px;
}

.input-email{
    background-color: #FFFFFF;
    width: 400px;
    height: 4vh;
    border: 0;
    padding-left: 30px;
}

.sign-up-button{
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #000000;
    opacity: 90%;
    padding: 8px;
    cursor: pointer;
}