/* MAIN */
main{
    background-color: #000000;
}
.sign-up-button-big{
    display: block;
    text-decoration: none;
    width: 420px;
    height: 50px;
    font-size: 22px;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: 500;
    margin: 45px auto;
    text-align: center;
    padding-top: 3px;
    font-family: 'Poppins';
    border: 0;
}

.main-header-sign-in{
    font-family: 'Sawarabi Mincho';
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sign-up-container{
    width: 1000px;
    height: 800px;
    background-color: #FFFFFF;
    margin: auto;
}

.container-header a{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.container-main h3{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 30px;
}

.sign-up-social{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 300;
    color: #000000;
    opacity: 95%;
    text-align: center;
    margin: 25px 50px;
}

.container-header{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.vertical-line{
    border-left: 2px solid #939393;
    height: 35px;
    display: inline-block;
}

.horizontal-line{
    border-top: 2px solid #939393;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}

.email-sign-in{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    position: relative;
    left: 29%;
    margin-bottom: 15px;
    margin-top: 20px;
}

.first-name-sign-in{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    position: relative;
    left: 29%;
    margin-bottom: 15px;
    margin-top: 20px;
}

.password-sign-in{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    position: relative;
    left: 29%;
    margin-bottom: 15px;
}

.email-sign-in-input{
    display: block;
    margin: 0 auto;
    border: 2px solid #000000;
    height: 50px;
    width: 420px;
    font-size: 17px;
}

.password-sign-in-input{
    display: block;
    margin: 0 auto;
    border: 2px solid #000000;
    height: 50px;
    width: 420px;
    font-size: 17px;
}

.join-button{
    display: block;
    text-decoration: none;
    width: 480px;
    height: 50px;
    font-size: 22px;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: 500;
    margin: 50px auto 30px auto;
    text-align: center;
    padding-top: 8px;
    font-family: 'Poppins';
}

.confirm-email{
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: lighter;
    color: #000000;
    margin-bottom: 0px;
    position: relative;
    left: 29%;
    margin-top: 4px;
}


.some-p{
    display: block;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.google{
    display: flex;
    width: 240px;
    border: 1px solid black;
    justify-content: space-evenly;
}

.google p{
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 600;
    color: #000000;
    margin: 15px;
}

.google img{
    height: 42px;
    width: 42px;
    margin: auto 0;
}

.facebook{
    display: flex;
    width: 240px;
    border: 1px solid black;
    justify-content: space-evenly;
}

.facebook p{
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 600;
    color: #000000;
    margin: 15px;
}

.facebook img{
    height: 42px;
    width: 42px;
    margin: auto 0;
}

.some{
    height: 100px;
}

.dob-inputs{
    text-align: center;
}
