/* MAIN */
main{
    background-color: #000000;
}

.main-header-sign-in{
    font-family: 'Sawarabi Mincho';
    font-size: 32px;
    color: #FFFFFF;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sign-in-container{
    width: 1000px;
    height: 580px;
    background-color: #FFFFFF;
    margin: auto;
}

.container-header a{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.container-header{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.vertical-line{
    border-left: 2px solid #939393;
    height: 35px;
    display: inline-block;
}

.horizontal-line{
    border-top: 2px solid #939393;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}

.username-sign-in{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    position: relative;
    left: 29%;
    margin-bottom: 15px;
    margin-top: 80px;
}

.password-sign-in{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    position: relative;
    left: 29%;
    margin-bottom: 15px;
}

.errorlist{
    text-align: center;
    list-style: none;
    color: darkred;
    font-family: "Poppins";
    text-align: center;
    padding: 0;
    margin: 8px;
    margin-bottom: 0px;
}

.email-sign-in-input{
    display: block;
    margin: 0 auto;
    border: 1px solid #000000;
    height: 50px;
    width: 420px;
    font-size: 17px;
    outline: none;
}

.email-sign-in-input:hover{
    border: 2px solid #000000;
}

.email-sign-in-input:focus{
    border: 2px solid #000000;
}

.password-sign-in-input{
    display: block;
    margin: 0 auto;
    border: 1px solid #000000;
    height: 50px;
    width: 420px;
    font-size: 17px;
    outline: none;
}

.password-sign-in-input:hover{
    border: 2px solid #000000;
}

.password-sign-in-input:hover{
    border: 2px solid #000000;
}

.sign-in-button{
    display: block;
    text-decoration: none;
    width: 420px;
    height: 50px;
    font-size: 22px;
    color: #FFFFFF;
    background-color: #000000;
    font-weight: 500;
    margin: 35px auto;
    text-align: center;
    padding-top: 3px;
    font-family: 'Poppins';
    border: 0;
    cursor: pointer;
}

.forgot-password{
    display: block;
    color: #000000;
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    opacity: 90%;
}


.some-p{
    display: block;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.google{
    display: flex;
    width: 240px;
    border: 1px solid black;
    justify-content: space-evenly;
}

.google p{
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 600;
    color: #000000;
    margin: 15px;
}

.google img{
    height: 42px;
    width: 42px;
    margin: auto 0;
}

.facebook{
    display: flex;
    width: 240px;
    border: 1px solid black;
    justify-content: space-evenly;
}

.facebook p{
    font-family: 'Poppins';
    font-size: 21px;
    font-weight: 600;
    color: #000000;
    margin: 15px;
}

.facebook img{
    height: 42px;
    width: 42px;
    margin: auto 0;
}

.some{
    height: 100px;
}

.red_error_message{
    color: darkred;
    position: absolute;
    margin-left: 100px;
    margin-top: 69px;
}