/* Main */

main{
    background-color: #000000;
}

.main-header-stores{
    margin-top: 0;
    padding-top: 20px;
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 44px;
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: center;
}

.first-header{
    font-family: 'Cairo';
    font-weight: lighter;
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.content{
    font-family: 'Poppins';
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-bottom: 8px;
}

.first-content{
    display: flex;
    justify-content: space-around;
}

.second-content{
    display: flex;
    justify-content: space-around;
}

.stores-content{
    padding-bottom: 100px;
}

.main-images{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 160px;
}
