main{
    background-color: #000000;
}


.watch-details-page-container{
    padding: 80px 150px 90px 150px;
    display: flex;
}

.about-watch{
    padding-left: 200px;
    width: 750px;
}

.watch-header{
    font-family: 'Poppins';
    font-size: 70px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;

}

.watch-under-header{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 10px;
}

.watch-manufacture{
    font-family: 'Poppins';
    font-size: 27px;
    font-weight: lighter;
    color: #FFFFFF;

}

.code-watch{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: lighter;
    color: #C2BCB2;
}

.price-watch{
    font-family: 'Poppins';
    font-size: 55px;
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 5px;
}

.button-container{
    margin-bottom: 50px;
}

.add-to-bag-button{
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 10px 170px 10px 170px;
    margin-bottom: 100px;
}

.watch-specifications{
    padding-top: 60px;
}

.watch-specifications-row-1{
    display: flex;
    width: 520px;
    border-bottom: 1px solid #C2BCB2;
}

.watch-specifications-row-1 h3{
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 26px;
    color: #FFFFFF; 
    margin: 15px auto 15px 0;
}

.watch-specifications-row-1 p{
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 26px;
    color: #FFFFFF;
    opacity: 70%;
    margin: 15px 0 15px 0;
}
