main{
    background-color: #000000;
}


.watch-details-page-container{
    padding: 80px 150px 90px 150px;
    display: flex;
}

.about-watch{
    padding-left: 200px;
    width: 750px;
}

.watch-header{
    font-family: 'Poppins';
    font-size: 70px;
    color: #FFFFFF;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;

}

.watch-under-header{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 10px;
}

.watch-manufacture{
    font-family: 'Poppins';
    font-size: 27px;
    font-weight: lighter;
    color: #FFFFFF;

}

.code-watch{
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: lighter;
    color: #C2BCB2;
}

.price-watch{
    font-family: 'Poppins';
    font-size: 55px;
    color: #FFFFFF;
    font-weight: lighter;
    margin-top: 5px;
}

.button-container{
    margin-bottom: 50px;
}

.add-to-bag-button{
    color: #000000;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
    background-color: #FFFFFF;
    text-decoration: none;
    padding: 10px 170px 10px 170px;
    margin-bottom: 100px;
}

.watch-specifications{
    padding-top: 60px;
}

.watch-specifications-row-1{
    display: flex;
    width: 520px;
    border-bottom: 1px solid #C2BCB2;
}

.watch-specifications-row-1 h3{
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 26px;
    color: #FFFFFF;
    margin: 15px auto 15px 0;
}

.watch-specifications-row-1 p{
    font-family: 'Poppins';
    font-weight: lighter;
    font-size: 26px;
    color: #FFFFFF;
    opacity: 70%;
    margin: 15px 0 15px 0;
}

.second-images img{
    width: 332px;
    height: 350px;
}

.reviews{
    background-color: #C2BCB2;
    margin-top: 50px;
    padding-bottom: 40px;
}

.reviews-header{
    text-align: center;
    color: #404040;
    font-size: 28px;
    font-weight: 500;
    padding-top: 30px;
}

.evaluation-container{
    display: flex;
    justify-content: center;
}

.evaluation{
    color: black;
    font-weight: lighter;
    font-size: 24px;
    margin-top: 12px;
    margin-right: 10px;
}

#big-star{
    font-size: 40px;
    color: #F8D77A;
}

.person{
    width: 400px;
    max-height: 230px;
    background-color: #FFFFFF;
    padding: 10px;
    display: inline-block;
    margin: 15px;
}

#small-stars{
    font-size: 20px;
    color: #F8D77A;
}

.stars-and-date{
    display: flex;
    justify-content: space-between;
}

.date{
    margin-top: 2px;
    margin-left: 8px;
    color: #404040;
    opacity: 70%;
    font-size: 16px;
    font-weight: lighter;
}

.person-reviews{
    justify-content: space-between;
    width: 1360px;
    margin: 60px auto;
    text-align: center;
}

.reviews-text{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    color: #404040;
    margin-top: 10px;
    font-weight: lighter;
    height: 50px;
}

.profile-image{
    width: 73px;
    height: 73px;
    border-radius: 100%;
}

.profile-details{
    display: flex;
}

.account-name{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
    color: #404040;
    margin: 8px;
    border-bottom: 1px solid #A8927B;
    margin-top: 17px;
}


.add-review-button{
    background-color: #959595;
    padding: 5px;
    color: #404040;
    font-family: 'Poppins';
    margin-left: 30px;
    cursor: pointer;
    text-decoration: none;
}

.add-review{
    margin-left: 85%;
    position: absolute;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1;
}

.add-review-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 2;
    width: 500px;
    height: 550px;
}

.review-watch-image{
    width: 72px;
    height: 72px;
    padding-right: 10px;
}

.add-review-container-header{
    display: flex;
    padding: 10px;
}

.add-review-container-header h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #404040;
    margin-top: 5px;
}

.add-review-container-main{
    padding: 15px;
}

#big-star-add-review{
    padding-right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: #cccccc;
}

.stars-add-review-container{
    flex-direction: row-reverse;
    display: flex;
    justify-content: left;
}

#big-star-add-review.selected,
#big-star-add-review:hover,
#big-star-add-review.selected ~ .fa-star,
#big-star-add-review:hover ~ .fa-star{
    color: #F8D77A;
}

.fa-xmark{
    position: absolute;
    margin-left: 463px;
    cursor: pointer;
}

.review-text{
    width: 100%;
    font-size: 14px;
    font-family: 'Poppins';
    color: #404040;
    outline: none;
}

.review-text:hover{
    outline: none;
}

.add-review-container-main h3{
    font-family: 'Poppins';
    font-size: 20px;
    color: #404040;

}

.add-review-button{
    font-size: 18px;
    border: 0px;
    margin-left: 0;
    margin-top: 20px;
}